
# /
/*.suo
/PAAgent_Setup.exe
/ProActiveAgent-setup-v1.0.1rc.exe
/Thumbs.db
/bin

# /AgentForAgent/
/AgentForAgent/obj

# /AgentForAgent/Resources/
/AgentForAgent/Resources/Thumbs.db

# /ConfigParser/
/ConfigParser/obj

# /ProActiveAgent/
/ProActiveAgent/obj

# /ScreenSaver/
/ScreenSaver/obj
/ProActiveAgent.sdf
/pacryptTest

*.iml
.idea/

/.vs/agent-windows/v15/.suo
*.db
*.ipch
*.lock
*.ide
*.ide-shm
*.ide-wal
*.suo
