
[Desktop Entry]
Name=PAAgent
Exec=/usr/lib/xscreensaver/PAAgent -root
TryExec=/usr/lib/xscreensaver/PAAgent
Comment=PAAgent screensaver
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=GNOME;
